# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Dotenv file
.env

notes.md

coverage/
lcov.info

.DS_Store

docs/

node_modules/

results.sarif
