[profile.default]
src = "src"
test = "test"
script = "script"
out = "out"
libs = ["lib"]
cache = true
cache_path = "cache"
broadcast = "broadcast"
gas_reports = [
  "MToken",
  "MTokenHarness",
  "MinterGateway",
  "MinterGatewayHarness",
]
gas_reports_ignore = []
solc-version = "0.8.23"
optimizer = false
verbosity = 3
ignored_error_codes = []
block_number = 17_740_856
block_timestamp = 1_689_934_508

[profile.production]
evm_version = "shanghai"
optimizer = true
optimizer_runs = 999999
build_info = true
sizes = true

[fuzz]
runs = 5_000

[invariant]
runs = 512            # The number of calls to make in the invariant tests
depth = 25            # The number of times to run the invariant tests
call_override = false # Override calls
fail_on_revert = true # Fail the test if the contract reverts

[profile.ci]
optimizer = true

[profile.ci.fuzz]
runs = 10_000

[profile.ci.invariant]
runs = 512
depth = 250

[rpc_endpoints]
localhost = "${LOCALHOST_RPC_URL}"
mainnet = "${MAINNET_RPC_URL}"
sepolia = "${SEPOLIA_RPC_URL}"

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}", url = "https://api.etherscan.io/api" }
sepolia = { key = "${ETHERSCAN_API_KEY}", url = "https://api-sepolia.etherscan.io/api" }

# See more config options at https://github.com/foundry-rs/foundry/tree/master/crates/config
