[profile.default]
src = "src"
test = "test"
script = "script"
out = "out"
libs = ["lib"]
cache = true
cache_path = "cache"
broadcast = "broadcast"
gas_reports = ["MToken", "MinterGateway", "MinterGatewayHarness"]
gas_reports_ignore = []
solc-version = "0.8.23"
optimizer = false
verbosity = 3
ignored_error_codes = []
block_number = 17_740_856
block_timestamp = 1_689_934_508

[profile.default.fuzz]
runs = 512

[profile.default.invariant]
runs = 512
depth = 25

[profile.production]
evm_version = "shanghai"
optimizer = true
optimizer_runs = 999999
build_info = true
sizes = true
