name: Forge Invariant Tests

on:
  push:
    branches:
      - main
  pull_request:

permissions: write-all

jobs:
  check:
    name: Invariant Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Run Forge build
        run: |
          forge --version
          make sizes
        id: build

      - name: Run Forge invariant tests
        run: make invariant profile=ci
        env:
          # make fuzzing semi-deterministic to avoid noisy gas cost estimation
          # due to non-deterministic fuzzing (but still use pseudo-random fuzzing seeds)
          FOUNDRY_FUZZ_SEED: 0x${{ github.event.pull_request.base.sha || github.sha }}
          MNEMONIC: ${{ secrets.MNEMONIC_FOR_TESTS }}
